main {
	display: grid;
	gap: 1rem;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: "upleft upright" "downleft downright";
}


#upleft {
	grid-area: upleft;
}
#upright {
	grid-area: upright;
}
#downleft {
	grid-area: downleft;
}
#downright {
	grid-area: downright;
}
